@{
    ViewBag.Title = "Home Page";
}

<div class="top-margin" ng-app="quizApp">
    <ui-view></ui-view>
</div>

@section Scripts{
    <script src="~/Scripts/app/app.js"></script>
    <script src="~/Scripts/app/Controllers/addEditCategoryController.js"></script>
    <script src="~/Scripts/App/Controllers/addEditLanguageController.js"></script>
    <script src="~/Scripts/App/Controllers/addEditQuizController.js"></script>
    <script src="~/Scripts/app/Controllers/categoriesController.js"></script>
    <script src="~/Scripts/App/Controllers/deleteConfirmController.js"></script>
    <script src="~/Scripts/app/Controllers/homeController.js"></script>
    <script src="~/Scripts/app/Controllers/languagesController.js"></script>
    <script src="~/Scripts/App/Controllers/quizzesController.js"></script>
    <script src="~/Scripts/app/Controllers/quizDetailController.js"></script>
    <script src="~/Scripts/App/Controllers/resultDetailController.js"></script>
    <script src="~/Scripts/App/Controllers/resultsController.js"></script>
    <script src="~/Scripts/App/Directives/scoreDetailDirective.js"></script>
    <script src="~/Scripts/app/Services/quizDataService.js"></script>
    <script src="~/Scripts/app/Services/quizCommonService.js"></script>
    <script src="~/Scripts/app/Services/deleteConfirmService.js"></script>
   
}